langchain
openai
tiktoken
faiss-cpu
duckduckgo-search
wikipedia
python-dotenv
torch
torchvision
torchaudio
bitsandbytes
accelerate
scipy
transformers
#git+https://github.com/huggingface/transformers
psutil
gputil
py-cpuinfo
optimum
auto-gptq
neo4j
pylint
docker
gradio #== 4.10
chardet
PyPDF2
tinydb
einops
mistralai