langchain
openai
ipykernel
tiktoken
faiss-cpu
duckduckgo-search
aider-chat
wikipedia
python-dotenv
torch
torchvision
torchaudio
bitsandbytes
git+https://github.com/huggingface/transformers
psutil
gputil
py-cpuinfo
optimum
auto-gptq
gradio
