langchain
openai
tiktoken
faiss-cpu
duckduckgo-search
wikipedia
python-dotenv
torch
torchvision
torchaudio
bitsandbytes
scipy
git+https://github.com/huggingface/transformers
psutil
gputil
py-cpuinfo
optimum
auto-gptq
git+https://github.com/gradio-app/gradio
neo4j
pylint
docker
gradio
chardet
PyPDF2


